/* CSS Document*/

 body
    {
        width:45em;
        margin-left:auto;
        margin-right:auto;
        color: white;
	background-color: black;
	text-align: justify;
    }


/*#FF00FF #CC33CC #9900FF #ff0000 #3300ff */
a:link {color: #FF00FF; text-decoration: none;}
a:visited {color: #CC66CC; text-decoration: none;}
a:active {color: #0033FF; text-decoration: bold}
a:hover {color: #00CCFF; text-decoration: bold}

/*lists */

ul { font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px; }

ol { font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px; }	
	
/* fonts*/
p { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0.3em 0;
}

h1 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	margin-left: 22px;
}

h2 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin-left: 20px;
}

h3 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-left: 16px;
}

h4 {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-left: 14px;
}

.video-block { max-width: 700px; margin: 0 auto; text-align: center; }
.video-block img { display: block; width: 100%; margin: 0 auto; }
.video-caption { margin: 0.2em 0 0; font-style: italic; font-size: 0.9em; line-height: 1.1; }

.video-figure{
  max-width: 700px;
  margin: 0.4em auto 0.3em;  /* top right/left bottom */
  padding: 0;
  text-align: center;        /* center caption */
}

.video-figure img{
  display: block;            /* kills inline-image whitespace */
  width: 100%;
  margin: 0 auto;
}

.video-caption{
  margin: 0.15em 0 0;        /* tiny gap from image */
  padding: 0;
  font-style: italic;
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.1;
  text-align: center;
}

.video-caption{ margin-top: 0.05em; }